In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
##########################
##  SET UTILS
##########################
def get_suit_info(df_row):
    return max(df_row.value_counts())

def get_rank_info(df_row):
    mean = df_row.mean()
    std = df_row.std()
    same1 = max(df_row.value_counts())
    same2 = df_row.value_counts().reset_index(drop=True)[1]

    return same1, same2, mean, round(std,2)

In [3]:
##########################
##  LOAD DATASET
##########################
dataset_train = pd.read_csv("../../data/poker-hand-training-true.data",
                            delimiter=",", header=None, lineterminator="\n",
                            names=["S1", "C1", "S2", "C2", "S3", "C3", "S4", "C4", "S5", "C5", "CLASS"])

dataset_test = pd.read_csv("../../data/poker-hand-testing.data",
                            delimiter=",", header=None, lineterminator="\n",
                            names=["S1", "C1", "S2", "C2", "S3", "C3", "S4", "C4", "S5", "C5", "CLASS"])

In [4]:
dataset_train.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In [5]:
##########################
##  TRAIN DATASET
##########################
df_suit = dataset_train.loc[:,["S1","S2","S3","S4","S5"]]
df_rank = dataset_train.loc[:,["C1","C2","C3","C4","C5"]]
df_class = dataset_train.loc[:,["CLASS"]]

df_rank = df_rank.replace(1, 14)

In [9]:
df_rank.head()

   C1  C2  C3  C4  C5
0  10  11  13  12  14
1  11  13  10  12  14
2  12  11  13  10  14
3  10  11  14  13  12
4  14  13  12  11  10

In [10]:
##########################
##  TEST DATASET
##########################
df_suit_test = dataset_test.loc[:,["S1","S2","S3","S4","S5"]]
df_rank_test = dataset_test.loc[:,["C1","C2","C3","C4","C5"]]
df_class_test = dataset_test.loc[:,["CLASS"]]

df_rank_test = df_rank_test.replace(1, 14)

In [11]:
df_rank_test.value_counts()
df_suit.apply()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [ ]:
##################################
##  PRE-PROCESS ::: TRAIN DATASET
##################################
df_suit['SAME_SUIT'] = df_suit.apply(get_suit_info, axis=1)
df_rank['SAME_RANK1'], df_rank['SAME_RANK2'], df_rank['MEAN'], df_rank['STD'] = zip(*df_rank.apply(get_rank_info, axis=1))