#### Importing all the require library

In [1]:
import pandas as pd
import numpy as np

import tensorflow as tf
import keras

import warnings
warnings.filterwarnings("ignore")

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Using TensorFlow backend.

#### Path for the data set which is taken from UCI machine library.

In [2]:
train_path='https://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-training-true.data'
test_path='https://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-testing.data'

In [3]:
#Set the columns name for the data set

col_names=['s1','c1','s2','c2','s3','c3','s4','c4','s5','c5','class' ]

In [4]:
# Reading the data from path and assigning variables name

poker_train=pd.read_table(train_path, sep=',', names=col_names)
poker_test=pd.read_table(test_path, sep=',', names=col_names)

In [5]:
poker_train.head()
poker_test.head()

   s1  c1  s2  c2  s3  c3  s4  c4  s5  c5  class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

   s1  c1  s2  c2  s3  c3  s4  c4  s5  c5  class
0   1   1   1  13   2   4   2   3   1  12      0
1   3  12   3   2   3  11   4   5   2   5      1
2   1   9   4   6   1   4   3   2   3   9      1
3   1   4   3  13   2  13   2   1   3   6      1
4   3  10   2   7   1   2   2  11   4   9      0

In [6]:
train=poker_train
test=poker_test

In [7]:
# Convert the suit of cards variables into category

col=['s1','s2','s3','s4','s5']
for i in col:
    train[i]=train[i].astype('category')
    test[i]=test[i].astype('category')

In [8]:
# One hot encoding for the categorical Variable

train=pd.get_dummies(train)
test=pd.get_dummies(test)

In [9]:
train.head()

,c1,c2,c3,c4,c5,class,s1_1,s1_2,s1_3,s1_4,...,s3_3,s3_4,s4_1,s4_2,s4_3,s4_4,s5_1,s5_2,s5_3,s5_4
0,10,11,13,12,1,9,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,11,13,10,12,1,9,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
2,12,11,13,10,1,9,0,0,1,0,...,1,0,0,0,1,0,0,0,1,0
3,10,11,1,13,12,9,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4,1,13,12,11,10,9,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1

Now we have 26 variables out of which 'class' is the target variable. So, the total number of explantory variables will be 25 and one target variable. Target variable has 10 classes so, first we have to convert it into category and then get dummy variables for classes.

In [10]:
x_train=np.array(train.drop('class', axis=1))
y=pd.get_dummies(train['class'].astype('category'))
y_train=np.array(y)

x_test=np.array(test.drop('class', axis=1))
y1=pd.get_dummies(test['class'].astype('category'))
y_test=np.array(y1)

## Tensorflow- Neural Net
Here I am using neural net for classification. For that I am considering 3 hidden layers with 500 nodes at each layer.

In [11]:
n_nodes_hl1=500
n_nodes_hl2=500
n_nodes_hl3=500

n_classes=10

x=tf.placeholder('float',[None, 25])
y=tf.placeholder('float',[None,n_classes])

Activation function- For hidden layers i am considering tanh and for the output layer i am taking softmax. Here i am using Adam optimizer with learning rate 0.1

In [12]:
def nn_model(data):
    hl1={'weights':tf.Variable(tf.random_normal([25, n_nodes_hl1])),
         'biases':tf.Variable(tf.random_normal([n_nodes_hl1]))}
    
    hl2={'weights':tf.Variable(tf.random_normal([n_nodes_hl1, n_nodes_hl2])),
         'biases':tf.Variable(tf.random_normal([n_nodes_hl2]))}
    
    hl3={'weights':tf.Variable(tf.random_normal([n_nodes_hl2, n_nodes_hl3])),
         'biases':tf.Variable(tf.random_normal([n_nodes_hl3]))}

    output_layer={'weights':tf.Variable(tf.random_normal([n_nodes_hl3,n_classes])),
                  'biases':tf.Variable(tf.random_normal([n_classes]))}

    l1=tf.add(tf.matmul(data,hl1['weights']), hl1['biases'])
    l1=tf.nn.tanh(l1)
    
    l2=tf.add(tf.matmul(l1,hl2['weights']), hl2['biases'])
    l2=tf.nn.tanh(l2)

    l3=tf.add(tf.matmul(l2,hl3['weights']), hl3['biases'])
    l3=tf.nn.tanh(l3)
    
    output=tf.matmul(l3,output_layer['weights'])+ output_layer['biases']
    output=tf.nn.softmax(output)
    
    return output

Simple Model without batch processesing.

In [13]:
def train_model(x):
    prediction=nn_model(x)
    cost=tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=prediction,labels=y))
    
    learning_rate= 0.1
    optimizer= tf.train.AdamOptimizer(learning_rate).minimize(cost)
    hm_epochs=10
    
    with tf.Session() as sess:
        sess.run(tf.global_variables_initializer())
        
        for epoch in range(hm_epochs):
            epoch_loss=0
            _,c=sess.run([optimizer, cost], feed_dict={x: x_train, y: y_train})
            epoch_loss+=c
            print('Epoch', epoch, 'completed out of', hm_epochs,'loss: ',epoch_loss)
        correct=tf.equal(tf.argmax(prediction,1), tf.argmax(y,1))
        accuracy= tf.reduce_mean (tf.cast(correct, 'float'))
        print('Accuracy:', accuracy.eval({x:x_test, y:y_test}))

In [14]:
train_model(x)

Epoch 0 completed out of 10 loss:  2.4256336689
Epoch 1 completed out of 10 loss:  1.96145665646
Epoch 2 completed out of 10 loss:  1.96149492264
Epoch 3 completed out of 10 loss:  1.96149492264
Epoch 4 completed out of 10 loss:  1.96149492264
Epoch 5 completed out of 10 loss:  1.96149492264
Epoch 6 completed out of 10 loss:  1.96149492264
Epoch 7 completed out of 10 loss:  1.96149492264
Epoch 8 completed out of 10 loss:  1.96149492264
Epoch 9 completed out of 10 loss:  1.96149492264
Accuracy: 0.501209

## Result
The accuracy for the test data is - 50.12%

## Keras - Tensorflow
Importing models and layers from Keras Library

In [16]:
from sklearn.metrics import accuracy_score
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout

Target variable has 10 classes so, first we have to convert it into category and then get dummy variables for classes.

In [17]:
x_train=np.array(train.drop('class', axis=1))
y=pd.get_dummies(train['class'].astype('category'))
y_train=np.array(y)

x_test=np.array(test.drop('class', axis=1))
y1=pd.get_dummies(test['class'].astype('category'))
y_test=np.array(y1)

Here I am using 'RELU' activation function for the hidden layers and 'SOFTMAX' activation
function for the output Layer. For the optimization i used Adam Optimizer. At each hidden layer i took 500 nodes and at output 10 nodes because we have 10 classes. Here i am using 50 epoch and batch size 100.

In [18]:
n_input_node= 25
n_nodes_hl1=500
n_nodes_hl2=500
n_nodes_hl3=500
n_output_node = 10

epochs =50
batch_size = 100

model = Sequential([
 Dense(output_dim=n_nodes_hl1, input_dim=n_input_node, activation='relu'),
 Dense(output_dim=n_nodes_hl2, input_dim=n_nodes_hl1, activation='relu'),
 Dense(output_dim=n_nodes_hl3, input_dim=n_nodes_hl2, activation='relu'),
    
 Dense(output_dim=n_output_node, input_dim=n_nodes_hl3, activation='softmax')
 ])

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
trained_model = model.fit(x_train, y_train, nb_epoch=epochs, batch_size=batch_size, 
                             validation_data=(x_test, y_test))

Train on 25010 samples, validate on 1000000 samples
Epoch 1/50
25010/25010 [==============================] - 61s - loss: 0.9946 - acc: 0.5138 - val_loss: 0.9526 - val_acc: 0.5422
Epoch 2/50
25010/25010 [==============================] - 62s - loss: 0.9558 - acc: 0.5456 - val_loss: 0.9568 - val_acc: 0.5327
Epoch 3/50
25010/25010 [==============================] - 63s - loss: 0.9453 - acc: 0.5542 - val_loss: 0.9362 - val_acc: 0.5586
Epoch 4/50
25010/25010 [==============================] - 67s - loss: 0.9322 - acc: 0.5623 - val_loss: 0.9335 - val_acc: 0.5651
Epoch 5/50
25010/25010 [==============================] - 70s - loss: 0.9188 - acc: 0.5752 - val_loss: 0.9506 - val_acc: 0.5467
Epoch 6/50
25010/25010 [==============================] - 70s - loss: 0.9050 - acc: 0.5843 - val_loss: 0.9234 - val_acc: 0.5735
Epoch 7/50
25010/25010 [==============================] - 64s - loss: 0.8874 - acc: 0.5933 - val_loss: 0.8997 - val_acc: 0.5919
Epoch 8/50
25010/25010 [==============================] - 64s - loss: 0.8637 - acc: 0.6102 - val_loss: 0.8867 - val_acc: 0.5963
Epoch 9/50
25010/25010 [==============================] - 67s - loss: 0.8374 - acc: 0.6250 - val_loss: 0.8620 - val_acc: 0.6130
Epoch 10/50
25010/25010 [==============================] - 68s - loss: 0.8049 - acc: 0.6456 - val_loss: 0.8360 - val_acc: 0.6329
Epoch 11/50
25010/25010 [==============================] - 72s - loss: 0.7668 - acc: 0.6659 - val_loss: 0.7967 - val_acc: 0.6535
Epoch 12/50
25010/25010 [==============================] - 71s - loss: 0.7228 - acc: 0.6898 - val_loss: 0.7670 - val_acc: 0.6726
Epoch 13/50
25010/25010 [==============================] - 71s - loss: 0.6756 - acc: 0.7165 - val_loss: 0.7202 - val_acc: 0.7026
Epoch 14/50
25010/25010 [==============================] - 69s - loss: 0.6330 - acc: 0.7380 - val_loss: 0.6971 - val_acc: 0.7139
Epoch 15/50
25010/25010 [==============================] - 71s - loss: 0.5814 - acc: 0.7630 - val_loss: 0.6543 - val_acc: 0.7323
Epoch 16/50
25010/25010 [==============================] - 69s - loss: 0.5370 - acc: 0.7836 - val_loss: 0.6131 - val_acc: 0.7512
Epoch 17/50
25010/25010 [==============================] - 67s - loss: 0.4969 - acc: 0.7989 - val_loss: 0.5586 - val_acc: 0.7816
Epoch 18/50
25010/25010 [==============================] - 68s - loss: 0.4504 - acc: 0.8210 - val_loss: 0.5437 - val_acc: 0.7867
Epoch 19/50
25010/25010 [==============================] - 67s - loss: 0.4002 - acc: 0.8440 - val_loss: 0.5456 - val_acc: 0.7886
Epoch 20/50
25010/25010 [==============================] - 65s - loss: 0.3702 - acc: 0.8547 - val_loss: 0.4844 - val_acc: 0.8192
Epoch 21/50
25010/25010 [==============================] - 69s - loss: 0.3209 - acc: 0.8766 - val_loss: 0.4270 - val_acc: 0.8360
Epoch 22/50
25010/25010 [==============================] - 66s - loss: 0.2946 - acc: 0.8869 - val_loss: 0.4122 - val_acc: 0.8431
Epoch 23/50
25010/25010 [==============================] - 69s - loss: 0.2465 - acc: 0.9059 - val_loss: 0.3624 - val_acc: 0.8666
Epoch 24/50
25010/25010 [==============================] - 67s - loss: 0.2122 - acc: 0.9227 - val_loss: 0.3370 - val_acc: 0.8737
Epoch 25/50
25010/25010 [==============================] - 65s - loss: 0.1811 - acc: 0.9355 - val_loss: 0.3196 - val_acc: 0.8851
Epoch 26/50
25010/25010 [==============================] - 67s - loss: 0.1519 - acc: 0.9480 - val_loss: 0.2234 - val_acc: 0.9225
Epoch 27/50
25010/25010 [==============================] - 64s - loss: 0.1152 - acc: 0.9643 - val_loss: 0.2384 - val_acc: 0.9158
Epoch 28/50
25010/25010 [==============================] - 67s - loss: 0.1063 - acc: 0.9660 - val_loss: 0.2761 - val_acc: 0.9052
Epoch 29/50
25010/25010 [==============================] - 66s - loss: 0.1162 - acc: 0.9623 - val_loss: 0.2265 - val_acc: 0.9244
Epoch 30/50
25010/25010 [==============================] - 66s - loss: 0.0836 - acc: 0.9743 - val_loss: 0.1713 - val_acc: 0.9453
Epoch 31/50
25010/25010 [==============================] - 67s - loss: 0.0559 - acc: 0.9852 - val_loss: 0.1560 - val_acc: 0.9516
Epoch 32/50
25010/25010 [==============================] - 65s - loss: 0.0531 - acc: 0.9846 - val_loss: 0.2002 - val_acc: 0.9366
Epoch 33/50
25010/25010 [==============================] - 67s - loss: 0.1009 - acc: 0.9677 - val_loss: 0.1522 - val_acc: 0.9525
Epoch 34/50
25010/25010 [==============================] - 68s - loss: 0.0607 - acc: 0.9821 - val_loss: 0.2160 - val_acc: 0.9307
Epoch 35/50
25010/25010 [==============================] - 64s - loss: 0.0344 - acc: 0.9921 - val_loss: 0.1131 - val_acc: 0.9687
Epoch 36/50
25010/25010 [==============================] - 71s - loss: 0.0145 - acc: 0.9977 - val_loss: 0.1186 - val_acc: 0.9685
Epoch 37/50
25010/25010 [==============================] - 69s - loss: 0.0885 - acc: 0.9741 - val_loss: 0.2136 - val_acc: 0.9319
Epoch 38/50
25010/25010 [==============================] - 70s - loss: 0.0435 - acc: 0.9875 - val_loss: 0.1061 - val_acc: 0.9700
Epoch 39/50
25010/25010 [==============================] - 67s - loss: 0.0212 - acc: 0.9954 - val_loss: 0.0986 - val_acc: 0.9725
Epoch 40/50
25010/25010 [==============================] - 64s - loss: 0.0292 - acc: 0.9918 - val_loss: 0.1208 - val_acc: 0.9657
Epoch 41/50
25010/25010 [==============================] - 65s - loss: 0.0636 - acc: 0.9807 - val_loss: 0.1231 - val_acc: 0.9637
Epoch 42/50
25010/25010 [==============================] - 66s - loss: 0.0379 - acc: 0.9888 - val_loss: 0.2332 - val_acc: 0.9308
Epoch 43/50
25010/25010 [==============================] - 65s - loss: 0.0439 - acc: 0.9864 - val_loss: 0.0843 - val_acc: 0.9784
Epoch 44/50
25010/25010 [==============================] - 64s - loss: 0.0104 - acc: 0.9978 - val_loss: 0.0831 - val_acc: 0.9784
Epoch 45/50
25010/25010 [==============================] - 66s - loss: 0.0230 - acc: 0.9932 - val_loss: 0.1490 - val_acc: 0.9564
Epoch 46/50
25010/25010 [==============================] - 70s - loss: 0.0897 - acc: 0.9733 - val_loss: 0.1122 - val_acc: 0.9672
Epoch 47/50
25010/25010 [==============================] - 69s - loss: 0.0144 - acc: 0.9965 - val_loss: 0.0618 - val_acc: 0.9837
Epoch 48/50
25010/25010 [==============================] - 67s - loss: 0.0041 - acc: 0.9996 - val_loss: 0.0574 - val_acc: 0.9861
Epoch 49/50
25010/25010 [==============================] - 67s - loss: 0.0017 - acc: 1.0000 - val_loss: 0.0573 - val_acc: 0.9866
Epoch 50/50
25010/25010 [==============================] - 66s - loss: 0.0011 - acc: 1.0000 - val_loss: 0.0548 - val_acc: 0.9873

## Result
 I am getting max accuracy of test data  - 98.73%