In [2]:
from pandas import Series

myseries = Series([10,20,30,40])
print(type(myseries))
print(myseries) # 색인을 명하지 않았음으로 0부터 색인 자동 부여

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
dtype: int64

In [3]:
myseries = Series([10,20,30,40], index=['강감찬','이순신','김유신','광해군'])
print(type(myseries))
print(myseries) 
print('-'*50)
myseries.name = '호호호'
myseries.index.name ='abcd'

<class 'pandas.core.series.Series'>
강감찬    10
이순신    20
김유신    30
광해군    40
dtype: int64
--------------------------------------------------

In [4]:
print(myseries['김유신'])

30

In [5]:
myseries['광해군']=100
print(myseries)

abcd
강감찬     10
이순신     20
김유신     30
광해군    100
Name: 호호호, dtype: int64

In [6]:
print(myseries[['김유신','이순신']])

abcd
김유신    30
이순신    20
Name: 호호호, dtype: int64

In [7]:
print(myseries[myseries < 50])

abcd
강감찬    10
이순신    20
김유신    30
Name: 호호호, dtype: int64

In [8]:
print('이순신' in myseries)

True

In [9]:
print('을지문덕' in myseries)

False

In [10]:
if '이순신' in myseries:
    print('yes')
else:
    print('no')

yes

In [11]:
sdata = {'서울':2000, '부산':3000, '울산':4000, '광주':5000}
dseries = Series(sdata)
print(dseries)

서울    2000
부산    3000
울산    4000
광주    5000
dtype: int64

In [12]:
city = ['서울','부산','울산','목포']
diseries = Series(sdata, index=city)
print(diseries)

서울    2000.0
부산    3000.0
울산    4000.0
목포       NaN
dtype: float64

In [13]:
import pandas as pd
print(pd.isnull(diseries))

서울    False
부산    False
울산    False
목포     True
dtype: bool

In [14]:
print(pd.notnull(diseries))

서울     True
부산     True
울산     True
목포    False
dtype: bool

In [15]:
print(dseries + diseries)

광주       NaN
목포       NaN
부산    6000.0
서울    4000.0
울산    8000.0
dtype: float64

In [16]:
diseries.name = '호호호'
diseries.index.name = 'ㅋㅋㅋ'
print(diseries)

ㅋㅋㅋ
서울    2000.0
부산    3000.0
울산    4000.0
목포       NaN
Name: 호호호, dtype: float64

In [17]:
myseries = Series(range(3), index=['a','b','c'])
myindex = myseries.index
print(myindex)

Index(['a', 'b', 'c'], dtype='object')

In [18]:
myseries = Series([10,20,30,40],index=['강감찬','이순신','김유신','광해군'])
print(myseries)

강감찬    10
이순신    20
김유신    30
광해군    40
dtype: int64

In [19]:
myseries2 = myseries.reindex(['강감찬','이순신','김유신','광해군','연산군'])
print(myseries2)

강감찬    10.0
이순신    20.0
김유신    30.0
광해군    40.0
연산군     NaN
dtype: float64

In [20]:
myseries3 = myseries.reindex(['강감찬','이순신','김유신','광해군','연산군'], fill_value=0)
print(myseries3)

강감찬    10
이순신    20
김유신    30
광해군    40
연산군     0
dtype: int64

In [21]:
# 보간이란 변량의 아는 값을 이용하여 그 사이에 놓일 값을 근사치로 계산해 내는 공식을 말한다.
myseries4 = Series(['bule','purple','yellow'], index=[0,2,4])
print(myseries4)
print('-' * 40)
myseries4=myseries4.reindex(range(6), method='ffill')
print(myseries4)

0      bule
2    purple
4    yellow
dtype: object
----------------------------------------
0      bule
1      bule
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [22]:
myseries5 = Series([10,20,30], index=[0,2,4])
print(myseries5)
print('-' * 40)
myseries5=myseries5.reindex(range(6), method='ffill')
print(myseries5)

0    10
2    20
4    30
dtype: int64
----------------------------------------
0    10
1    10
2    20
3    20
4    30
5    30
dtype: int64

In [24]:
# 색인하기, 선택하기, 거르기
import numpy as np
obj = Series(np.arange(4.), index=['서울','부산','광주','대구'])
print(obj)

서울    0.0
부산    1.0
광주    2.0
대구    3.0
dtype: float64

In [26]:
print(obj['부산'])

1.0

In [27]:
print(obj[1])

1.0

In [28]:
print(obj[2:4])

광주    2.0
대구    3.0
dtype: float64

In [29]:
print(obj[['부산','서울','대구']])

부산    1.0
서울    0.0
대구    3.0
dtype: float64

In [30]:
print(obj[[1,3]])

부산    1.0
대구    3.0
dtype: float64

In [31]:
print(obj[obj < 2])

서울    0.0
부산    1.0
dtype: float64

In [32]:
# 라벨이름으로 슬라이싱 하는것은 시작점과 끝점을 포함한다는 것이 일반 파이썬과의 슬라이싱과 다른점
print(obj['부산':'광주'])

부산    1.0
광주    2.0
dtype: float64

In [34]:
myseries = Series( (np.arange(9)+ 1) * 10,
                   index = [
                       ['주니어','주니어','주니어','테일러','테일러','테일러','톰','톰','톰'],
                       ['kor','eng','math','kor','eng','math','kor','eng','math']
                       ])

In [35]:
myseries

주니어  kor     10
     eng     20
     math    30
테일러  kor     40
     eng     50
     math    60
톰    kor     70
     eng     80
     math    90
dtype: int32